body{
  text-align: center;
  background-color: whitesmoke;
  color: purple;
  justify-content: center;
}

button{
  color: white;
  background-color: #000000;
  margin: 1%;
  justify-content: center;
}

input{
  background-color: rgb(145, 144, 144);
  color: white;
  justify-content: center;
  margin: 0.1%;
}